


body {
  
    background-image: url('https://image.freepik.com/vetores-gratis/fundo-bokeh_23-2148457138.jpg');
    font-family: Arial;
    background-size: auto 100vh;
    height: 100vh;
  }
  
  .Menu {
    background: white;
  }
  
  .Menu li {
    list-style: none;
  }
  
  .Menu ul {
    display: flex;
    justify-content: space-around;
    
  }
  
  a {
    color: teal;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  .site-subtlite,
  .site-title {
    color: white;
    text-align: center;
    
  }
    